/**/node_modules
/**/package-lock.json
*hot-update*
sql/*
!sql/.gitkeep
wordpress/uploads/*
!wordpress/uploads/.gitkeep
/**/debug.log
web/wp
vendor
web/app/uploads/*
web/app/cache/*
!web/app/cache/.gitkeep
!web/app/uploads/.gitkeep
web/app/debug.log
web/app/mu-plugins/*
!web/app/mu-plugins/.gitkeep
storage/*
!storage/.gitkeep
!storage/logs/.gitkeep
log/*
!log/.gitkeep
!log/php/.gitkeep
!log/nginx/.gitkeep
phpmyadmin/*
.env
config/ssl/*
!config/ssl/.gitkeep
*.cache
*.lock
